SwarmBot/Schemas/alerts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Database">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Keywords">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Keyword">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Member">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedLong">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="key" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Members">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Member">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedLong" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Keyword">
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Credits">
                      <xs:complexType>
                        <xs:attribute name="amount" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Credits">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Amount">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Member">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedLong">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="num" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>