SwarmBot/Schemas/commandInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Database">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Group">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Command">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="Name" type="xs:string" />
                    <xs:element minOccurs="1" name="Syntax" type="xs:string" />
                    <xs:element minOccurs="1" name="Aliases">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Alias" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Description" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Parameters">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Parameter">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                  <xs:attribute name="optional" type="xs:boolean" use="optional" />
                                  <xs:attribute name="prefix" type="xs:string" use="optional" />
                                  <xs:attribute name="hasContent" type="xs:boolean" use="optional" default="true" />
                                  <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Requirements">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element minOccurs="0" name="SwarmServerRequired" />
                          <xs:element minOccurs="0" name="RequiredRank" type="Rank"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="SubModule">
                <xs:complexType>
                  <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element minOccurs="1" name="Name" type="xs:string"/>
                    <xs:element minOccurs="1" name="Aliases">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Alias" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="1" name="Description" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Rank">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Recruit"/>
      <xs:enumeration value="Member"/>
      <xs:enumeration value="Member II"/>
      <xs:enumeration value="Veteran"/>
      <xs:enumeration value="Officer"/>
      <xs:enumeration value="General"/>
      <xs:enumeration value="Guild Master"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>