SwarmBot/Schemas/emotes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Emotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Emote">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Content" type="xs:string" />
              <xs:element name="Reference" type="xs:string" />
              <xs:element name="Rank" type="xs:unsignedByte" />
              <xs:element name="Creator" type="xs:unsignedLong" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>